<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Employee Form</title>
<link rel="stylesheet" href="/Delete.css" th:href="@{/Delete.css}">
</head>
<body>

	<div class="form-container">
		<h2>DELETE BY ID</h2>
		<form th:action="@{/deleteById}" method="post" th:object="${emp}">
			<div class="form-group">
				<label for="empDepartment">Enter the Employee ID:</label> <input
					type="text" id="empId" name="empId" required th:field="*{empId}">
			</div>
			<div class="form-group">
				<input type="submit" value="Submit">
			</div>
		</form>
	</div>
	<h1 th:text=${result}></h1>
</body>
</html>
