<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Button Example</title>
</head>
<body>
    <form th:action="@{/button1}" method="get">
        <button type="submit">Button 1</button>
    </form>
    <form th:action="@{/button2}" method="get">
        <button type="submit">Button 2</button>
    </form>
    <form th:action="@{/button3}" method="get">
        <button type="submit">Button 3</button>
    </form>
    <form th:action="@{/button4}" method="get">
        <button type="submit">Button 4</button>
    </form>
</body>
</html>
