<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Button Example</title>
<link rel="stylesheet" href="/Home.css" th:href="@{/Home.css}">
</head>
<body>

	<h1>WELCOME TO THE HIBERNATE FRAMEWORK DEMONSTRATION</h1>
	<div class="button-row">
		<button type="button" class="button-create">
			<a th:href="@{/create}">CREATE</a>
		</button>
		<button type="button" class="button-read-all">
			<a th:href="@{/read}">READ-ALL</a>
		</button>
		<button type="button" class="button-update-one">
			<a th:href="@{/update}">UPDATE</a>
		</button>
		<button type="button" class="button-delete-one">
			<a th:href="@{/deleteById}">DELETE</a>
		</button>
		<button type="button" class="button-read-only-one">
			<a th:href="@{/fetchByID}">READ ONE</a>
		</button>
	</div>
</body>
</html>
